<html>
	<head th:replace="~{base :: head}"></head>
	<body onload=" onload()">
		<div th:replace="~{base :: logo}"></div>
	
		<div class="container" id="oferta">
			<div th:replace="~{base :: titulo('faca sua oferta')}"></div>
					
			<div class="card mb-3"  v-for="pedido in pedido">
				<div class="card-header alert-dark" >{{pedido.nomeProduto}}</div>
				
				<div class="card-body">
					<div class="row">
						<div class="col-12 col-sm-8  mb-3">
							
							
							<div>Produto</div>
							<div> <a  v-bind:href="pedido.urlProduto" />{{pedido.nomeProduto}}</a></div>
							
							<div>Descricao</div>
							<div>
								<textarea class="form-control" disabled="disabled">{{pedido.descricao}}</textarea>
							</div>
							<div class="row mt-2 ">
								<div class="col-md-5"> valor: <input v-model="pedido.negociado" class="form-control"></input></div>
								<div class="col-md-7">Data de entrega: <input v-model="pedido.dataDaEntrega" class="form-control"></input></div>
							</div>
							<div>Comentario</div>
							<div>
								<textarea class="form-control" >{{pedido.comentario}}</textarea>
							</div>
							<button v-if="pedido.ofertaEnviada" v-on:click="enviarOferta(pedido)" class="btn btn-success mt-2" >Oferta Enviada</button>
							<button v-else v-on:click="enviarOferta(pedido)" class="btn btn-primary mt-2" >Enviar Oferta</button>
						</div>
						<div class="col-12 col-sm-4">
							<div>
								<img class="img-thumbnail" v-bind:src="pedido.urlImagem" />
							</div>
						</div>
					</div>
				</div>
			</div>
	
		</div>
		<script>
		function onload(){
			var app = new Vue({
				  el: '#oferta',
				  data: {
				    pedido: []
				  },
				  mounted () {
					    axios
					      .get('http://localhost:8050/api/pedidos/aguardando')
					      .then(response =>{
					    	  response.data.forEach(pedido => pedido.ofertaEnviada = false)
					    	  this.pedido = response.data
					    	  
					      })
					  },
					  methods:{
                          enviarOferta: function(pedido){
                              axios
                                  .post('http://localhost:8050/api/oferta', {
                                      pedidoId: pedido.id,
                                      valor: pedido.valorNegociado,
                                      dataDaEntrega: pedido.dataDaEntrega, 
                                      comentario: pedido.comentario
                                  })
                                  .then(response => pedido.ofertaEnviada = true);
                          }
                      }
				})
		}
		</script>
		<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
		<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
		
	</body>
	
</html>